<div class="container pt-5">
  <div class="row justify-content-sm-center pt-5">

    <div class="col-sm-6 shadow round pb-3">

      <h1 class="text-center pt-3 text-secondary">Login as Customer</h1>
      <div class="row">
        <div class="col-6">
          <form #form="ngForm" [formGroup]="exform3" (ngSubmit)="custLogin()">
            <div class="mb-3">
              <label for="customerEmail" class="form-label">Customer Email </label>
              <input type="email" class="form-control" id="customerEmail" 
              formControlName="customerEmail" name="customerEmail"
                [(ngModel)]="SigninCustomer.customerEmail">
                <small *ngIf="exform3.get('customerEmail')?.invalid && exform3.get('customerEmail')?.touched"
                class="text-danger">Email is Required</small>
              </div>
            <div class="mb-3">
              <label for="password" class="form-label">Customer Password </label>
              <input type="password" class="form-control" id="password" 
              formControlName="password" name="password"
                [(ngModel)]="SigninCustomer.password">
                <small *ngIf="exform3.get('password')?.invalid && exform3.get('password')?.touched"
                class="text-danger">Password is Required</small> 
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>