.form-control.ng-touched.ng-invalid{
  border: 1px solid red;
}
.form-control.ng-touched.ng-valid{
  border: 1px solid green;
}
/* .mb-3{
  background-image: url('D:/ngECommerceUI/e-shopping-client/src/assets/ecommerce-png.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */