<div class="container my-5">
  <h1 class="mb-3">Register as Trader</h1>
  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="postTraders()">
        <div class="mb-3">
          <label for="traderName" class="form-label">Trader Name </label>
          <input type="text" class="form-control" id="traderName" name="traderName" [(ngModel)]="addTraders.traderName">
        </div>
        <div class="mb-3">
          <label for="traderEmail" class="form-label">Trader Email</label>
          <input type="email" class="form-control" id="traderEmail" name="traderEmail" [(ngModel)]="addTraders.traderEmail" >
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password </label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="addTraders.password">
        </div>
       
        <div class="mb-3">
          <label for="confirmPassword" class="form-label"> Confirm Passsword </label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="addTraders.confirmPassword" >
        </div>
        <div class="mb-3">
          <label for="traderPhoneNumber" class="form-label">Phone Number </label>
          <input type="text" class="form-control" id="traderPhoneNumber" name="traderPhoneNumber" [(ngModel)]="addTraders.traderPhoneNumber" >
        </div>
        

       
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>